<html>
  <head>
    <title>Some notes obout a not so well known man</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
  <div class="container">
    <link href="./Starter Template for Bootstrap_files/bootstrap.min.css" rel="stylesheet">    
    {% include 'includes/_navbar.html' %}
  </div>

    {% block body %}{% endblock %}    
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
